@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #007fe0;
}

.nav {
  position: fixed;
  background-color: #007fe0;
  left: 0;
  width: 100%;
  padding: 20px 100px;

  display: flex;
  justify-content: center;
  z-index: 10;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
  margin-left: 5px;
}

.nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav ul li a:hover {
  background-color: #239ecf;
  color: rgb(0, 0, 0);
  border-radius: 4px;
}

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#lending {
  height: 100vh;
}
#landing h1 {
  position: absolute;
  z-index: 3;
  top: 20%;
  right: 0;
  left: 200px;
  font-size: 120px;
  color: #fff;
  text-align: center;
}

.mid-img {
  z-index: 2;
}

.focus-img {
  z-index: 4;
}
.leaf-img {
  z-index: 5;
}
.bird-img {
  z-index: 3;
}
.btn {
  position: absolute;
  top: 80%;
  z-index: 9;
  margin: 0 auto;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #007fe0;
  color: #fff;
  font-size: 25px;
  box-shadow: 5px 0 15px rgba(85, 85, 85, 0.5);
}

#landing::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #007fe0, transparent);
  z-index: 5;
}

#about {
  padding: 70px 0;
  line-height: 25px;
  color: #fff;
  background-color: #007fe0;
}

.content {
  z-index: 5;
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.content hr {
  width: 30%;
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
}

.content p {
  text-align: justify;
  text-indent: 100px;
}
/*awal plan*/
#myplan {
  padding: 70px 0;
  line-height: 25px;
  color: #fff;
  background-color: #007fe0;
}
.plancontent {
  z-index: 5;
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.plancontent h1 {
  font-size: 25px;
}
.plancontent hr {
  width: 30%;
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
}

/*akhir plan*/

/*awal crews*/
#mycrews {
  padding: 70px 0;
  line-height: 25px;
  color: #fff;
  background-color: #007fe0;
}

.crewcontent {
  z-index: 5;
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.crewcontent h1 {
  font-size: 25px;
}
.crewcontent hr {
  width: 30%;
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
}
.crewcontainer {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.crewborder {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.crewborder:hover {
  border: 1px solid #fff;
}
.crewcard {
  margin-bottom: 280px;
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url('card/alexander-andrews-KfPwby-UisA-unsplash.png') center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url('card/alexander-andrews-KfPwby-UisA-unsplash.png') left center no-repeat;
  background-size: 600px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url('card/melina-kiefer-4yVcjPPahsM-unsplash.jpg') center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url('card/melina-kiefer-4yVcjPPahsM-unsplash.jpg') left center no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card2 {
  background: url('card/amber-kipp-75715CVEJhI-unsplash.png') center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url('card/amber-kipp-75715CVEJhI-unsplash.png') left center no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}
h2 {
  text-align: left;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.crewicons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*akhir crews*/
