@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #007fe0;
}

.nav {
  position: fixed;
  background-color: #007fe0;
  left: 0;
  width: 100%;
  padding: 20px 100px;

  display: flex;
  justify-content: center;
  z-index: 10;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
  margin-left: 5px;
}

.nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav ul li a:hover {
  background-color: #239ecf;
  color: rgb(0, 0, 0);
  border-radius: 4px;
}

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#lending {
  height: 100vh;
}
#landing h1 {
  position: absolute;
  z-index: 3;
  top: 20%;
  right: 0;
  left: 200px;
  font-size: 120px;
  color: #fff;
  text-align: center;
}

.mid-img {
  z-index: 2;
}

.focus-img {
  z-index: 4;
}
.leaf-img {
  z-index: 5;
}
.bird-img {
  z-index: 3;
}
.btn {
  position: absolute;
  top: 80%;
  z-index: 9;
  margin: 0 auto;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #007fe0;
  color: #fff;
  font-size: 25px;
  box-shadow: 5px 0 15px rgba(85, 85, 85, 0.5);
}

#landing::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #007fe0, transparent);
  z-index: 5;
}

#about {
  padding: 70px 0;
  line-height: 25px;
  color: #fff;
  background-color: #007fe0;
}

.content {
  z-index: 5;
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.content hr {
  width: 30%;
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
}

.content p {
  text-align: justify;
  text-indent: 100px;
}
/*awal plan*/
#myplan {
  padding: 70px 0;
  line-height: 25px;
  color: #fff;
  background-color: #007fe0;
}
.plancontent {
  z-index: 5;
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.plancontent h1 {
  font-size: 25px;
}
.plancontent hr {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 30%;
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
}
/* CSS Untuk HORIZONTAL SCROLL DAN VERTICAL BAR */
/* Scroll Bar CSS */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px #e5e3e3;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ececec;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fdf9f6;
}
/* CSS HORIZONTAL SCROLL */
horizontal-scroll {
  width: 100%;
  background-color: #eeeeee;
  padding: 8px 50px 10px 0px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  float: right;
  scroll-behavior: smooth;
}
.dutajav-container2 {
  position: relative;
  width: 250px;
  display: inline-block;
}
.dutajav-container2:hover .dutajav-image {
  -webkit-filter: brightness(30%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.dutajav-container2:hover .dutajav-middle {
  opacity: 1;
}
/* horizontal area responsive */
.horizontal-container {
  position: relative;
  padding-bottom: 190px;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}
.horizontal-container iframe,
.horizontal-container object,
.horizontal-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* CSS VERTICAL AREA */
/* dutajav featured actress */
.dutajav-container {
  position: relative;
  width: 250px;
  margin: auto;
}
.dutajav-image {
  opacity: 1;
  display: block;
  width: 250px;
  height: 190px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  -webkit-filter: brightness(100%);
}
.dutajav-middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.dutajav-container:hover .dutajav-image {
  -webkit-filter: brightness(30%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.dutajav-container:hover .dutajav-middle {
  opacity: 1;
}
.dutajav-text-watermark {
  width: 250px;
  color: white;
  opacity: 1;
  font-size: 8px;
  font-weight: normal;
  padding: 0px 0px 0px 0px;
  position: relative;
  bottom: 7px;
  right: 3px;
  font-family: montserrat, sans-serif;
  text-shadow: 2px 2px 5px black;
}
.dutajav-text {
  width: 250px;
  color: white;
  font-size: 18px;
  font-weight: normal;
  padding: 0px 0px 0px 0px;
  position: relative;
  bottom: 3px;
  font-family: montserrat, sans-serif;
  text-shadow: 2px 2px 5px black;
}

/* AKHIR CSS HORIZONTAL SCROLL DAN VERTICAL AREA */
horizontal-hightlight {
  width: 100%;
  background-color: #eeeeee;
  padding: 11px 40px 17px 0px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  float: right;
  scroll-behavior: smooth;
}
.pembungkus-hightlight {
  position: relative;
  width: 250px;
  display: inline-block;
  padding: 0 5px;
}
.pembungkus-hightlight:hover .dutajav-image {
  -webkit-filter: brightness(30%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.pembungkus-hightlight:hover .highlight-middle {
  opacity: 1;
}
/* horizontal area responsive */
.hightlight-horizontal {
  position: relative;
  padding-bottom: 215px;
  padding-top: 2px;
  height: 0;
  overflow: hidden;
}
.hightlight-horizontal iframe,
.hightlight-horizontal object,
.hightlight-horizontal embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dutajav-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  -webkit-filter: brightness(100%);
}
.highlight-middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.dutajav-text-watermark {
  width: 250px;
  color: white;
  opacity: 1;
  font-size: 8px;
  font-weight: normal;
  font-family: 'Indie+Flower';
  padding: 0px 0px 0px 0px;
  position: relative;
  bottom: 7px;
  right: 3px;
  text-shadow: 2px 2px 5px black;
}
.dutajav-text {
  width: 250px;
  color: white;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Indie+Flower';
  padding: 0px 0px 0px 0px;
  position: relative;
  bottom: 3px;
  text-shadow: 2px 2px 5px black;
}
.nomor-dan-kode {
  color: white;
  font-size: 8px;
  font-weight: normal;
  font-family: 'Indie+Flower';
  text-shadow: 2px 2px 5px black;
  padding: 2px 0px 0px 0px;
  letter-spacing: 0.5em;
}
.imgbox-highlight {
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(97, 95, 90, 0.5);
}

/*akhir plan*/

/*awal crews*/
#mycrews {
  padding: 70px 0;
  line-height: 25px;
  color: #fff;
  background-color: #007fe0;
}

.crewcontent {
  z-index: 5;
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.crewcontent h1 {
  font-size: 25px;
}
.crewcontent hr {
  width: 30%;
  border: 1px solid #fff;
  text-align: center;
  display: inline-block;
}
.crewcontainer {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.crewborder {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.crewborder:hover {
  border: 1px solid #fff;
}
.crewcard {
  margin-bottom: 280px;
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url('card/alexander-andrews-KfPwby-UisA-unsplash.png') center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url('card/alexander-andrews-KfPwby-UisA-unsplash.png') left center no-repeat;
  background-size: 600px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url('card/melina-kiefer-4yVcjPPahsM-unsplash.jpg') center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url('card/melina-kiefer-4yVcjPPahsM-unsplash.jpg') left center no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card2 {
  background: url('card/amber-kipp-75715CVEJhI-unsplash.png') center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url('card/amber-kipp-75715CVEJhI-unsplash.png') left center no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}
h2 {
  text-align: left;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.crewicons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*akhir crews*/
